<h1>{{my_room}} 강의실</h1>

{% if now_class != 'empty' %}
        <div style="background-color: forestgreen;">
                <h4>현재 <strong>{{now_class}}</strong> 강의 중입니다.</h4>
        </div>        
{% endif %}

<div> 
        <!-- 
        key : 요일 번호를 가짐(0~5) 
        value : 요일에 해당하는 강의 리스트를 가짐
        -->        
        {% for key, value in class_dict.items %}
                {% if key == now_weekday %} 
                <!--현재 요일인 경우-->
                        <div style="background-color: yellow; margin-bottom: 3%;">
                        {% for class in value %}
                                {% if value == 'empty' %}
                                        오늘은 수업이 없습니다.<br>
                                {% else %}
                                        {{class.date1}}, {{class.date2}},  <!--이 줄은 나중에 지우기-->
                                        {{class.start}} : {{class.end}}, {{class.prof}}-{{class.class_name}}<br>
                                {% endif %}
                                <div style="background-color: darkgray;">쉬는시간</div>
                        {% endfor %}
                        </div>
                {% else %} 
                <!--다른 요일인 경우-->
                        <div style="background-color: yellowgreen; margin-bottom: 3%;">
                        {% for class in value %}
                                {% if value == 'empty' %}
                                        계획된 수업이 없습니다.<br>
                                {% else %}
                                        {{class.date1}}, {{class.date2}},  <!--이 줄은 나중에 지우기-->
                                        {{class.start}} : {{class.end}}, {{class.prof}}-{{class.class_name}}<br>
                                {% endif %}
                                <div style="background-color: darkgray;">쉬는시간</div>
                        {% endfor %}
                        </div>
                {% endif %}
        {% endfor %}
</div>