{% extends 'base.html' %}
{% load static %}
{% block title %} 나눔관 {% endblock %}

{% block content %}
<div class="build-container">
	<!-- 건물이름이랑 층 정보 나오는 곳 -->
	<div class="build-informwrap">
		<div class="build-titleqna">
			<!-- 건물 이름 -->
			<div class="build-title">
				<div></div>
				<h1> 나눔관 </h1>
			</div>
			<!-- QNA -->
			<div class="build-qna">
				<div class="build-qna-container">
					<div class="build-qna-item" id="con_read">
						<input type="radio" name="button" value="강의실 읽는 법" id="howto_read" checked>
						<label for="howto_read"><span>강의실 읽는 법</span></label>
					</div>
					<div class="build-qna-item" id="con_notav">
						<input type="radio" name="button" value="사용불가란" id="howto_notav">
						<label for="howto_notav"><span>사용가능/불가능 표시</span></label>
					</div>
				</div>
				<!-- QNA 답변 -->
				<div class="detail-radio-container">
					<div class="radio-detail build-detail" id="read">
						<p id="detail_web"><b>강의실 번호의 가장 앞자리는 강의실 건물, 두 번째 자리는 강의실 건물의 층을 의미합니다.</b> <br>
							<span>ex ) 6202 -> 6(정보과학관), 2층, 02 강의실</span> <br>
							<b>간혹 건물 번호를 영어로 사용할 때가 있습니다.</b> <br>
							A = 승연관, B = 일만관, C = 월당관, EC or 5C = 나눔관, F = 정보과학관, G = 새천년관,<br />
							I = 피츠버그홀, M = 미가엘관
						</p>
						<p id="detail_mobile">
							<b>강의실 번호의 가장 앞자리는 강의실 건물, 두 번째 자리는 <br />
								강의실 건물의 층을 의미합니다.</b><br />
							<span>ex ) 6202 -> 6(정보과학관), 2층, 02 강의실</span> <br />
							<b>간혹 건물 번호를 영어로 사용할 때가 있습니다.</b><br />
							A = 승연관, B = 일만관, C = 월당관, EC or 5C = 나눔관, <br />
							F = 정보과학관, G = 새천년관, I = 피츠버그홀, M = 미가엘관
						</p>
					</div>
					<div class="radio-detail build-detail" id="noav" style="display: none;">
						<p id="detail_web">현재 시각을 기준으로 해당 강의실에서의 강의 진행 여부에 따라<br />
							<b>'사용가능'</b> 또는 <b>'사용불가'</b> 표시가 나타납니다.<br />
							<b>사용가능</b>일 시에 해당 강의실의 예약 여부를 확인하신 뒤, <br />
							예약이 없다면 자유롭게 이용 가능합니다.
						</p>
						<p id="detail_mobile">현재 시각을 기준으로 해당 강의실에서의
							<br /> 강의 진행 여부에 따라<br />
							<b>'사용가능'</b> 또는 <b>'사용불가'</b> 표시가 나타납니다.<br />
							<b>사용가능</b>일 시에 해당 강의실의 예약 여부를 확인하신 뒤, <br />
							예약이 없다면 자유롭게 이용 가능합니다.
						</p>
					</div>
				</div>

			</div>
		</div>
		<div class="build-image">
			<div class="img-wrap">
				<img src="{% static 'images/gwan/nn.png' %}" alt="나눔관">
			</div>
		</div>

	</div>
	<div class="enable-toggle">
		<div class="toggleSwitch_wrap">
			<span>사용 가능한 강의실만 보기</span>
			<label for="switchInput" class="toggleSwitch">
				<input type="checkbox" id="switchInput" class="switchInput">
				<div class="toggleSwitch_ball"></div>
			</label>
		</div>
	</div>
	<!-- 층별로 정보나오도록 -->
	<div class="build-lectureinfo-wrap" id="all_tog">
		<div class="build-floor-container">
			<div class="floorinfo">
				<h2>F1</h2>
			</div>

			<div class="lectureinfo-container">
				<h1 style="font-size: 1.7rem;">학생회실, 동아리실, 학생인권 위원회, 우체국, 복사실, 문구점, 카페 자연드림, 탁구장이 존재합니다. </h1>
			</div>
		</div>


		<div class="build-floor-container">
			<div class="floorinfo">
				<h2>F3</h2>
			</div>
			<div class="lectureinfo-container">
				{% for rooms in rooms_list %}
				{% if rooms.floor == 3 %}
				<a href="{% url 'classroom' rooms.room %}" class="lectureinfo-box">
					<div class="lecture-img">
						<img class="img-src" src="{{rooms.room_image.url}}" alt="{{rooms.room}}">
					</div>
					<div class="lectureinfo">
						<h1>{{ rooms.room }}</h1>

						{% if rooms.room_type == '사용가능' %}
						<div class="lecturecon poss">
							<span>{{ rooms.room_type }}</span>
						</div>
						{% else %}
						<div class="lecturecon imposs">
							<span>{{ rooms.room_type }}</span>
						</div>
						{% endif %}
					</div>
				</a>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- 사용가능 필터 -->
	<div class="build-lectureinfo-wrap" id="enable_tog" style="display: none;">
		<div class="build-floor-container">
			<div class="floorinfo">
				<h2>F1</h2>
			</div>

			<div class="lectureinfo-container">
				<h1 style="font-size: 1.7rem;">학생회실, 동아리실, 학생인권 위원회, 우체국, 복사실, 문구점, 카페 자연드림, 탁구장이 존재합니다. </h1>
			</div>
		</div>


		<div class="build-floor-container">
			<div class="floorinfo">
				<h2>F3</h2>
			</div>
			<div class="lectureinfo-container">
				{% for rooms in rooms_access %}
				{% if rooms.floor == 3 %}
				<a href="{% url 'classroom' rooms.room %}" class="lectureinfo-box">
					<div class="lecture-img">
						<img class="img-src" src="{{rooms.room_image.url}}" alt="{{rooms.room}}">
					</div>
					<div class="lectureinfo">
						<h1>{{ rooms.room }}</h1>

						{% if rooms.room_type == '사용가능' %}
						<div class="lecturecon poss">
							<span>{{ rooms.room_type }}</span>
						</div>
						{% else %}
						<div class="lecturecon imposs">
							<span>{{ rooms.room_type }}</span>
						</div>
						{% endif %}
					</div>
				</a>
				{% endif %}
				{% endfor %}
			</div>
		</div>

	</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
	integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="{% static 'js/informtoggle.js' %}"></script>
<script src="{% static 'js/scroll.js' %}"></script>
<script src="{% static 'js/accesstoggle.js' %}"></script>
{% endblock %}