{% load static %}
<h1>승연관</h1>
{{ now_weekday}} {{ now_time }} <br><br>
{% for rooms in rooms_list %}
    <a href="{% url 'classroom' rooms.room %}">
        <img src="{{rooms.room_image.url}}" alt="{{rooms.room}}" style="width: 300px; height: 200px;" /> <br>
        {{ rooms.room }} <br>
        {{ rooms.room_type }} <br>
    </a>
<br>
{% endfor %}

<br>
{% for rooms in rooms_access %}
    <a href="{% url 'classroom' rooms.room %}">
        <img src="{{rooms.room_image.url}}" alt="{{rooms.room}}" style="width: 300px; height: 200px;" />
        {{ rooms.room }} {{rooms.type}} {{ rooms.room_type }} <br>
    </a>
{% endfor %}
<br>
{% for rooms in rooms_unaccess %}
    <a href="{% url 'classroom' rooms.room %}">
        <img src="{{rooms.room_image.url}}" alt="{{rooms.room}}" style="width: 300px; height: 200px;" />
        {{ rooms.room }} {{rooms.type}} {{ rooms.room_type }} <br>
    </a>
{% endfor %}