/* 여긴 그냥 다 고친부분 이랍니다 새로 생긴 css!! */

/* 검색 */
#search {
	display: none;
}

.main_top {
	height: 100%;
    width: 100%; /* 포지션이 absolute인지라 한쪽으로 쏠리는 바람에 */
    position: absolute;
    top: 0;
	z-index: 1000;
	background-color: #00000075;
}

.main_search {
    display: flex;
	width: 50vw;
	margin-top: 15vw;
	top: 0;
	position: absolute;
	z-index: 1001;
	left: 50%;
	transform: translateX(-50%);
}

.main_input{
	width: 100%;
    height: 4.5vw;
    background-color: #d3f0b1;
	box-shadow: #218b215e 0px 4px 12px;
    border: 0;
    font-family: 'SuncheonR';
    font-size: 1.8vw;
    color: var(--new-main-color);
    border-radius: 5vw;
    padding: 0.3vw 5vw 0.3vw 2vw; /* pdding이든 margin이든 상우하좌로 시계방향 */
}

input:-webkit-autofill {
	box-shadow: 0 0 0 1000px #d3f0b1 inset;
}

/* 검색 유도 문구 */
.main_input::placeholder{ 
    color: var(--new-main-color);
}

input:focus {outline: none;} /* input선택시 outline 테두리 없애기 */

/* 검색창 돋보기 */
#search_item {
    fill: var(--new-main-color);
    position: absolute;
    width: 1.7vw;
    right: 2vw;
	top: 35%;
	z-index: 999;
	cursor: pointer;
}

/* nav 돋보기 */
.search_item_frame {
	background-color: #006600;
}


#nav_search {
    fill: var(--new-main-color);
    position: absolute;
    width: 21px;
	top: 22px;
    right: 25px;
	z-index: 999;
	cursor: pointer;
}

@media (max-width: 700px){

	#nav_search {
		right: 30px;
	}
}

/* 검색했던 기록 아래에 뜨는거 hover했을 때 input 색상 */
#nav_search:hover {
    fill: var(--new-sub-color);
}

@media (max-width: 1400px){

	.main_search {
		width: 60vw;
	}

	.main_input{
		height: 6vw;
		font-size: 2vw;
		padding: 0.3vw 5vw 0.3vw 3vw; /* pdding이든 margin이든 상우하좌로 시계방향 */
	}

	#search_item {
		width: 2.2vw;
		right: 3vw;
		top: 35%;
	}
}

@media (max-width: 700px){

	.main_search {
		width: 80vw;
		top: 20%;
	}

	.main_input{
		border-radius: 10vw;
		height: 13vw;
		font-size: 4.2vw;
		padding: 0.3vw 5vw 0.3vw 5vw; /* pdding이든 margin이든 상우하좌로 시계방향 */
	}

	#search_item {
		width: 4.5vw;
		right: 4.5vw;
		top: 34%;
	}
}

/* 강의명 */
.lectureinfo-box h3 {
    margin: 5%;
    font-size: 1.7rem;
}

.build-informwrap_search {
    display: flex;
    margin-top: 10rem;
    gap: 30px;
    justify-content: space-between;
}

.lectureinfo_s {
    display: flex;
    font-size: 1.4rem;
    justify-content: space-between;
}

@media (max-width: 700px){
	.lectureinfo_s {
		flex-direction: column;
	}
	.lectureinfo_s h2 {
		font-size: 1.2rem;
	}
	.lectureinfo_s h3 {
		font-size: 1.1rem;
	}
}

/* 검색결과 */
@media (max-width: 550px){
	#build-title_s {
		font-size: 1.5rem;
		text-align: center;
	}
	#floorinfo_s {
		font-size: 1.5rem;
	}
}